@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(1, 17, 38, 0.06);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0433bf;
  border-radius: 8px;
}
